
@{
    ViewBag.Title = "GetDistribution11";
}


@{
    ViewBag.Title = "GetDistribution1";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

    <input id="dingd" name="username" class="layui-input" type="text" placeholder="请输入订单号" autocomplete="off" lay-verify="required">


    <button class="layui-btn" type="button" lay-filter="demo1" onclick="GetDistribution1()">查询</button>



    <table class="layui-table" lay-skin="line">
        <colgroup>
            <col width="150">
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
            <tr>
                <td>序号</td>
                <td>快递单号</td>
                <td>员工编号</td>
                <td>仓库编号</td>
                <td>接货时间</td>
                <td>发货时间</td>
                <td>配送方式</td>
                <td>货物状态</td>
                <td>配送备注</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody id="td"></tbody>
    </table>
    <script src="~/layui/layui.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

</body>
</html>
<script src="~/Scripts/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    GetDistribution();
    //显示
    function GetDistribution() {
        $.ajax({
            url: "/User/GetDistribution11",
            type: "POST",
            dataType: "Json",
            success: function (res) {
                var op = "";
                $(res.User).each(function () {
                    var oo = "<tr>"
                        + "<td>" + this.DistributionId + "</td>"
                        + "<td>" + this.ShippingOrder + "</td>"
                        + "<td>" + this.StaffId + "</td>"
                        + "<td>" + this.WareHouseId + "</td>"
                        + "<td>" + ChangeDateFormat(this.PickTime) + "</td>"
                        + "<td>" + ChangeDateFormat(this.SendTime) + "</td>"
                        + "<td>" + this.SendType + "</td>"
                        + "<td>" + (this.SendState == 1 ? '配送中' : '已完成') + "</td>"
                        + "<td>" + this.SendRemark + "</td>"
                        + "<td><a href=''style='color:#0094ff' onclick='Dele(" + this.DistributionId + ")'>收货</a>" + "</td>"
                        + "</tr>"
                    op += oo;
                })
                $("#td").html(op);
            }
        })
    }



    function ChangeDateFormat(val) {
        if (val != null) {
            var date = new Date(parseInt(val.replace("/Date(", "").replace(")/", ""), 10));
            //月份为0-11，所以+1，月份小于10时补个0
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
        return "";
    }

    //查询
    function GetDistribution1() {
        var name = $("#dingd").val();
        $.ajax({
            url: "/User/GetCxDistribution",
            type: "POST",
            data: {
                ShippingOrder: name,
            },
            dataType: "Json",
            success: function (res) {
                var op = "";
                $(res.User).each(function () {
                    var oo = "<tr>"
                        + "<td>" + this.DistributionId + "</td>"
                        + "<td>" + this.ShippingOrder + "</td>"
                        + "<td>" + this.StaffId + "</td>"
                        + "<td>" + this.WareHouseId + "</td>"
                        + "<td>" +ChangeDateFormat( this.PickTime) + "</td>"
                        + "<td>" +ChangeDateFormat( this.SendTime) + "</td>"
                        + "<td>" + this.SendType + "</td>"
                        + "<td>" + (this.SendState == 1 ? '配送中' : '已完成') + "</td>"
                        + "<td>" + this.SendRemark + "</td>"
                        + "<td><a href=''style='color:#0094ff' onclick='Dele(" + this.DistributionId + ")'>收货</a>" + "</td>"
                        + "</tr>"
                    op += oo;
                })
                $("#td").html(op);
            }
        })
    }
    //删除
    function Dele(did) {
        if (confirm("确定收货吗")) {
            $.ajax({
                url: "/User/DeleteDistribution",
                type: "POST",
                data: {
                    Id: did,
                },
                dataType: "Json",
                success: function (res) {
                    //表示成功
                 
                        if (res.Status) {
                            alert("收货成功");           
                            GetDistribution();
                        }
                        else {
                            alert("正在配送中不能收货");
                        }
                   
                }
            })
        }

    }

</script>

