
@{
    ViewBag.Title = "UserLogin";
}


<html>
<head>
    <meta charset="utf-8">
    <title>雨燕速递</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
    <div style="        height: 750px;
        width: 1140px;
        background-image: url('../../img/背景.jpg');
        float: left;">
        <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" style="margin-top:200px;margin-left:370px;">
            <h2 style="color:white;margin-left:133px;">用户登录</h2>
            <br />
            
            <div class="layui-tab-content" style="height: 350px;background-color:white;width:400px;border:1px solid #DDDDDD;">
               
                <ul class="layui-tab-title" style="width:396px;background-color:white;margin-left:-8px;">
                    <li class="layui-this">用户登录</li>
                    <li>管理员登录</li>
                </ul>
                <div class="layui-tab-item layui-show">
                    <div class="layui-form-item">
                        <label class="layui-form-label">手机号</label>
                        <div class="layui-input-block">
                            <input id="phone" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入手机号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-block">
                            <input id="pwd" type="text" name="username" lay-verify="required" lay-reqtext="用户名是必填项，岂能为空？" placeholder="请输入密码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">验证码</label>
                        <div class="layui-input-block">
                            <input id="yanz" type="text" name="username" lay-verify="required" lay-reqtext="用户名是必填项，岂能为空？" placeholder="请输入验证码" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-block">
                            <img class="verifyImg" src="/Content/ValidateCode.ashx" onclick="this.src='/Content/ValidateCode.ashx?d='+new Date()" />
                        </div>
                        <div class="layui-input-block">
                            <span>还没有账号？</span><a href="/User/UserRegist" style="color:#ff5511">立即注册</a>
                        </div>

                    </div>

                    <div class="layui-form-item">
                        <button type="button" class="layui-btn-lg layui-btn-danger layui-btn-radius" onclick="Login()" style="margin-left:25px;">登录</button>

                        <button type="button" class="layui-btn-lg layui-btn-primary layui-btn-radius" style="margin-left:150px;" onclick="ind()">取消</button>

                    </div>

                </div>
                <div class="layui-tab-item">

                    <div class="layui-form-item">
                        <label class="layui-form-label">手机号</label>
                        <div class="layui-input-block">
                            <input id="phone1" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入管理员手机号" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-block">
                            <input id="pwd1" type="text" name="username" lay-verify="required" lay-reqtext="用户名是必填项，岂能为空？" placeholder="请输入密码" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">验证码</label>
                        <div class="layui-input-block">
                            <input id="yanz" type="text" name="username" lay-verify="required" lay-reqtext="用户名是必填项，岂能为空？" placeholder="请输入验证码" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-input-block">
                            <img class="verifyImg" src="/Content/ValidateCode.ashx" onclick="this.src='/Content/ValidateCode.ashx?d='+new Date()" />
                        </div>

                    </div>
                    <div class="layui-form-item" style="margin-top:51px;">
                        <button type="button" class="layui-btn-lg layui-btn-danger layui-btn-radius" onclick="Log()" style="margin-left:25px;">登录</button>

                        <button type="button" class="layui-btn-lg layui-btn-primary layui-btn-radius" style="margin-left: 150px;" onclick="ind()">取消</button>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <script src="~/layui/layui.js"></script>
    <script src="~/Scripts/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
        layui.use('element', function () {
            var $ = layui.jquery
                , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

            //触发事件
            var active = {
                tabAdd: function () {
                    //新增一个Tab项
                    element.tabAdd('demo', {
                        title: '新选项' + (Math.random() * 1000 | 0) //用于演示
                        , content: '内容' + (Math.random() * 1000 | 0)
                        , id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
                    })
                }
                , tabDelete: function (othis) {
                    //删除指定Tab项
                    element.tabDelete('demo', '44'); //删除：“商品管理”


                    othis.addClass('layui-btn-disabled');
                }
                , tabChange: function () {
                    //切换到指定Tab项
                    element.tabChange('demo', '22'); //切换到：用户管理
                }
            };

            $('.site-demo-active').on('click', function () {
                var othis = $(this), type = othis.data('type');
                active[type] ? active[type].call(this, othis) : '';
            });

            //Hash地址的定位
            var layid = location.hash.replace(/^#test=/, '');
            element.tabChange('test', layid);

            element.on('tab(test)', function (elem) {
                location.hash = 'test=' + $(this).attr('lay-id');
            });

        });

        layui.use(['carousel', 'form'], function () {
            var carousel = layui.carousel
                , form = layui.form;

            //常规轮播
            carousel.render({
                elem: '#test1'
                , arrow: 'always'
            });

            //改变下时间间隔、动画类型、高度
            carousel.render({
                elem: '#test2'
                , interval: 1800
                , anim: 'fade'
                , height: '120px'
            });

            //设定各种参数
            var ins3 = carousel.render({
                elem: '#test3'
            });
            //图片轮播
            carousel.render({
                elem: '#test10'
                , width: '778px'
                , height: '440px'
                , interval: 5000
            });

            //事件
            carousel.on('change(test4)', function (res) {
                console.log(res)
            });

            var $ = layui.$, active = {
                set: function (othis) {
                    var THIS = 'layui-bg-normal'
                        , key = othis.data('key')
                        , options = {};

                    othis.css('background-color', '#5FB878').siblings().removeAttr('style');
                    options[key] = othis.data('value');
                    ins3.reload(options);
                }
            };

            //监听开关
            form.on('switch(autoplay)', function () {
                ins3.reload({
                    autoplay: this.checked
                });
            });

            $('.demoSet').on('keyup', function () {
                var value = this.value
                    , options = {};
                if (!/^\d+$/.test(value)) return;

                options[this.name] = value;
                ins3.reload(options);
            });

            //其它示例
            $('.demoTest .layui-btn').on('click', function () {
                var othis = $(this), type = othis.data('type');
                active[type] ? active[type].call(this, othis) : '';
            });
        });


    </script>

</body>
</html>

<script>
    //登录
    function Login() {
        var phone = $("#phone").val();
        var pwd = $("#pwd").val();
        var yanz = $("#yanz").val();
        if (yanz == "") {
            alert("验证码为空!!!");
            return;
        }
        $.ajax({
            url: "/User/Indexyanz/yanz",
            type: "POST",
            dataType: "json",
            data: {
                yan: yanz,
            },
            success: function (res) {
                if (res > 0) {
                    $.ajax({
                        url: "/User/UserLogin",
                        type: "Post",
                        data: {
                            Phone: phone,
                            Pwd: pwd,
                        },
                        success: function (res) {
                            //表示接口成功
                            if (res.Status) {
                                if (res.IsRegistSuccess) {
                                    alert(res.Message);
                                    location.href = "/User/Lay";
                                }
                                else {
                                    alert(res.Message);
                                    location.href = "/User/UserLogin";
                                }
                            }
                            else {
                                alert(res.Message);
                            }
                        }

                    })
                }
                else {
                    alert("验证码有误!!!");
                }
            }

        })



    }

    //登录
    function Log() {
        var phone1 = $("#phone1").val();
        var pwd1 = $("#pwd1").val();
        $.ajax({
            url: "/User/UserLogin",
            type: "Post",
            data: {
                Phone: phone1,
                Pwd: pwd1,
            },
            success: function (res) {
                //表示接口成功
                if (res.Status) {
                    if (res.IsRegistSuccess) {
                        alert(res.Message);
                        location.href = "/User/Backstage";
                    }
                    else {
                        alert(res.Message);
                    }
                }
                else {
                    alert(res.Message);
                }
            }

        })
    }

    function ind() {
        location.href = "/User/Index";
    }
</script>
