
@{
    ViewBag.Title = "UserRegist";
}


<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>雨燕速递(YUY)</title>
    <link rel="stylesheet" type="text/css" href="../../static/admin/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="../../static/admin/css/login.css" />

</head>

<body>
    <div class="m-login-bg">
        <div class="m-login">
            <h3>用户注册</h3>
            <div class="m-login-warp">
                <div class="layui-form">
                    <div class="layui-form-item">
                        <input id="name" type="text" name="title" required lay-verify="required" placeholder="用户名" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <input id="phone1" type="text" name="title" required lay-verify="required" placeholder="用户手机号" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <input id="pwd1" type="password" name="password" required lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <input id="you" type="password" name="password" required lay-verify="required" placeholder="确定密码" autocomplete="off" class="layui-input">

                    </div>
                    <div class="layui-form-item m-login-btn">
                        <div class="layui-inline">
                            <button type="button" class="layui-btn layui-btn-normal" onclick="Regist()">注册</button>
                        </div>
                        <div class="layui-inline">
                            <button type="button" class="layui-btn layui-btn-primary" onclick="ind()">取消</button>
                        </div>
                    </div>
                </div>
            </div>
            <p class="copyright">Copyright 2019-2020 by XIAODU</p>
        </div>
    </div>
    <script src="../../static/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>

    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form(),
                layer = layui.layer;


            //自定义验证规则
            form.verify({
                title: function (value) {
                    if (value.length < 5) {
                        return '标题至少得5个字符啊';
                    }
                },
                password: [/(.+){6,12}$/, '密码必须6到12位'],
                verity: [/(.+){6}$/, '验证码必须是6位'],

            });


            //监听提交
            form.on('submit(login)', function (data) {
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                })
                return false;
            });

        });
    </script>
</body>

</html>
<script src="~/Scripts/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script>
    //注册
    function Regist() {
        var name= $("#name").val();
        var phone = $("#phone1").val();
        var pwd = $("#pwd1").val();
        var you = $("#you").val();
        $.ajax({
            url: "/User/UserRegist",
            type: "Post",
            data: {
                UserName: name,
                Phone: phone,
                Pwd: pwd,
                Pwd1: you,
            },
            success: function (res) {
                //表示接口成功
                if (res.Status) {
                    //请求成功
                    if (res.IsRegistSuccess) {
                        alert(res.Message);
                        location.href = "/User/UserLogin";
                    }
                    else {
                        alert(res.Message);
                    }
                }
                else {
                    alert(res.Message);
                }
            }

        })
    }

    function ind() {
        location.href = "/User/Index";
    }
</script>