@{
    ViewBag.Title = "wareHouseShow";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>雨燕速递(YUY)</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

    <table class="layui-table" lay-skin="line">
        <colgroup>
            <col width="150">
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
            <tr>
                <th>序号    </th>
                <th>仓库名称</th>
                <th>仓库容量</th>
                <th>仓库地址</th>
                <th>仓库备注</th>
                <th>仓库状态</th>
                <th >详情 </th>
                <th >操作 </th>
            </tr>
        </thead>
        <tbody id="body">
        </tbody>
    </table>
    <script src="~/layui/layui.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

</body>
</html>
<script src="~/Scripts/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
        $().ready(function () {
            $.ajax({
                url: "/WareHouse/wareHouseShow",
                dataType: "json",
                type: "POST",
                success: function (res) {
                    var tbs = "";
                    $(res.wareahouselist).each(function () {
                        var tb = "<tr>"
                            + "<td>" + this.WareHouseId + "</td> "
                            + "<td>" + this.WareHouseName + "</td> "
                            + "<td>" + this.WareHouseCapacity + "</td> "
                            + "<td>" + this.WareHouseAddress + "</td> "
                            + "<td>" + this.WareHouseRemark + "</td> "
                            + "<td>" + (this.WareHouseStatus == 1 ? '使用中' : '备用') + "</td> "
                            + " <td><a href='/WareHouse/wareHouseUpdate?pid=" + this.WareHouseId + "'>修改</a></td> "
                            + "<td><input id='Button1' type='button' value='删除' onclick='Delware(" + this.WareHouseId + ")' class='btn btn-danger' /></td> "
                            + " </tr >";
                        tbs += tb;
                    })
                    $("#body").html(tbs);
                }
            })
        })


    function Delware(wid) {
        if (confirm("确认删除吗？")) {
            $.ajax({
                url: "/WareHouse/wareHouseDel",
                dataType: "json",
                type: "POST",
                data:
                {
                    id: wid
                },
                success: function (res) {
                    if (res.Status) {
                        alert(res.Message);
                        location.href = "/WareHouse/wareHouseShow";
                    }
                    else {
                        alert(res.Message);
                    }
                }
            })
        }
    }
</script>




