
@{
    ViewBag.Title = "GetShippingInfor";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>网站后台管理模版</title>
    <link rel="stylesheet" type="text/css" href="~/static/admin/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="~/static/admin/css/admin.css" />

</head>

<body>
    <div>
        <input id="dh" value="@ViewBag.id" type="hidden" />
        <div class="page-content-wrap">
            
            <div class="layui-form" id="table-list">
                <table class="layui-table" lay-skin="line">
                    <colgroup>
                        <col width="50">
                        <col class="hidden-xs" width="50">
                        <col class="hidden-xs" width="100">
                        <col class="hidden-xs" width="100">
                        <col>
                        <col width="80">
                        <col width="130">
                    </colgroup>
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>
                            <th class="hidden-xs">快递单号</th>
                            <th class="hidden-xs">寄件姓名</th>
                            <th class="hidden-xs">寄件联系方式</th>
                            <th class="hidden-xs">寄件地址</th>
                            <th class="hidden-xs">收件人姓名</th>
                            <th class="hidden-xs">收件联系方式</th>
                            <th class="hidden-xs">收件地址</th>
                            <th class="hidden-xs">货物名称</th>
                            <th class="hidden-xs">货物类型</th>
                            <th class="hidden-xs">货物重量</th>
                            <th class="hidden-xs">货物状态</th>
                        </tr>
                    </thead>
                    <tbody id="tb">
                       
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>

</html>
<script src="~/static/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="~/static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<script>
    layui.use(['jquery'], function () {
        var $ = layui.jquery;
        //修改状态
        $('#table-list').on('click', '.table-list-status', function () {
            var That = $(this);
            var status = That.attr('data-status');
            var id = That.parent().attr('data-id');
            if (status == 1) {
                That.removeClass('layui-btn-normal').addClass('layui-btn-warm').html('隐藏').attr('data-status', 2);
            } else if (status == 2) {
                That.removeClass('layui-btn-warm').addClass('layui-btn-normal').html('显示').attr('data-status', 1);

            }
        })
        //栏目展示隐藏
        $('.showSubBtn').on('click', function () {
            var _this = $(this);
            var id = _this.attr('data-id');
            var parent = _this.parents('.parent');
            var child = $('.child-node-' + id);
            var childAll = $('tr[parentid=' + id + ']');
            if (parent.hasClass('collapsed')) {
                _this.html('-');
                parent.addClass('expanded').removeClass('collapsed');
                child.css('display', '');
            } else {
                _this.html('+');
                parent.addClass('collapsed').removeClass('expanded');
                child.css('display', 'none');
                childAll.addClass('collapsed').removeClass('expanded').css('display', 'none');
                childAll.find('.showSubBtn').html('+');
            }

        })
    });
</script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>

    $().ready(function () {
        var db = $("#dh").val();
        $.ajax({
            url: "/Contraband/GetShippingInfors",
            type: "Post",
            dataType: "Json",
            data: {
                ShippingOrder:db
            },
            success: function (res) {
                var tb = "";
                $(res.ShippingInforlist).each(function () {
                    tb += "<tr>"
                        + "<td><input type='checkbox' name='' lay-skin='primary' lay-filter='allChoose'></td>"
                        + "<td class='hidden-xs'>" + this.ShippingOrder + "</td>"
                        + "<td class='hidden-xs'>" + this.ShippingName + "</td>"
                        + "<td class='hidden-xs'>" + this.ShippingPhone + "</td>"
                        + "<td class='hidden-xs'>" + this.ShippingAddress + "</td>"
                        + "<td class='hidden-xs'>" + this.ReceiveName + "</td>"
                        + "<td class='hidden-xs'>" + this.ReceivePhone + "</td>"
                        + "<td class='hidden-xs'>" + this.ReceiveAddress + "</td>"
                        + "<td class='hidden-xs'>" + this.CargoName + "</td>"
                        + "<td class='hidden-xs'>" + this.CargoType + "</td>"
                        + "<td class='hidden-xs'>" + this.CargoWeight + "</td>"
                        + "<td class='hidden-xs'>" + this.CargoState + "</td>"
                        + "<td class='hidden-xs'><div class='layui-inline'><button class='layui-btn layui-btn-mini layui-btn-normal  edit-btn' data-id='1' data-url='menu-add.html' onclick='Xg(" + this.StorageId + ")'><i class='layui-icon'>&#xe642;</i></button><button class='layui-btn layui-btn-mini layui-btn-danger del-btn' data-id='1'  onclick='Sc(" + this.StorageId + ")'><i class='layui-icon'>&#xe640;</i></button></div></td>"
                        + "</tr>";
                    alert(this.CargoType);
                });
                $("#tb").append(tb);
            }

        })
    })

    //删除
    //function Sc(did) {
    //    $.ajax({
    //        url: "/Contraband/DeleteStorage",
    //        type: "Post",
    //        dataType: "Json",
    //        data: {
    //            id: did
    //        },
    //        success: function (res) {
    //            $(res).each(function () {
    //                alert(this.Message);
    //            })
    //        }
    //    })
    //}


    //function Xg(StorageId) {
    //    location.href = "/Contraband/UpdateStorageSt/" + StorageId;
    //}


</script>


