
@{
    Layout = null;
}

<h2>违禁品查询</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>网站后台管理模版</title>
    <link rel="stylesheet" type="text/css" href="~/static/admin/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="~/static/admin/css/admin.css" />

</head>

<body>
    <div>

        <div class="page-content-wrap">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                    <div class="layui-inline tool-btn">
                        <button class="layui-btn layui-btn-small layui-btn-normal addBtn hidden-xs" data-url="menu-add.html"><i class="layui-icon">&#xe654;</i></button>
                        <button class="layui-btn layui-btn-small layui-btn-warm listOrderBtn hidden-xs" data-url="menu-add.html"><i class="iconfont">&#xe656;</i></button>
                    </div>
                    <div class="layui-inline">
                        <input type="text" name="title" required lay-verify="required" placeholder="请输入物品关键字" autocomplete="off" class="layui-input">
                    </div>
                    @*<div class="layui-inline">
                            <select name="states" lay-filter="status">
                                <option value="">请选择一个状态</option>
                                <option value="010">显示</option>
                                <option value="021">隐藏</option>
                            </select>
                        </div>*@
                    <button class="layui-btn layui-btn-normal" lay-submit="search">搜索</button>
                </div>
            </form>
            <div class="layui-form" id="table-list">
                <table class="layui-table" lay-skin="line">
                    <colgroup>
                        <col width="50">
                        <col class="hidden-xs" width="50">
                        <col class="hidden-xs" width="100">
                        <col class="hidden-xs" width="100">
                        <col>
                        <col width="80">
                        <col width="130">
                    </colgroup>
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose"></th>
                            <th class="hidden-xs">存储id</th>
                            <th class="hidden-xs">货物id</th>
                            <th class="hidden-xs">仓库id</th>
                            <th class="hidden-xs">员工id</th>
                            <th class="hidden-xs">入库时间</th>
                            <th class="hidden-xs">入库数量</th>
                            <th class="hidden-xs">出库时间</th>
                            <th class="hidden-xs">出库数量</th>
                            <th class="hidden-xs">备注</th>
                            <th class="hidden-xs">操作</th>
                        </tr>
                    </thead>
                    <tbody id="tb">
                        @*<tr id='node-1' class="parent collapsed">
                                <td><input type="checkbox" name="" lay-skin="primary" data-id="1"></td>
                                <td class="hidden-xs">1</td>
                                <td class="hidden-xs"><input type="text" name="title" autocomplete="off" class="layui-input" value="0" data-id="1"></td>
                                <td class="hidden-xs">Admin</td>
                                <td>
                                    菜单管理
                                    <a class="layui-btn layui-btn-mini layui-btn-normal showSubBtn" data-id='1'>+</a>
                                </td>
                                <td><button class="layui-btn layui-btn-mini layui-btn-normal table-list-status">显示 </button></td>
                                <td>
                                    <div class="layui-inline">
                                        <button class="layui-btn layui-btn-mini layui-btn-normal  add-btn" data-id="1" data-url="menu-add.html"><i class="layui-icon">&#xe654;</i></button>
                                        <button class="layui-btn layui-btn-mini layui-btn-normal  edit-btn" data-id="1" data-url="menu-add.html"><i class="layui-icon">&#xe642;</i></button>
                                        <button class="layui-btn layui-btn-mini layui-btn-danger del-btn" data-id="1" data-url="menu-add.html"><i class="layui-icon">&#xe640;</i></button>
                                    </div>
                                </td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</body>

</html>
<script src="~/static/admin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
<script src="~/static/admin/js/common.js" type="text/javascript" charset="utf-8"></script>
<script>
    layui.use(['jquery'], function () {
        var $ = layui.jquery;
        //修改状态
        $('#table-list').on('click', '.table-list-status', function () {
            var That = $(this);
            var status = That.attr('data-status');
            var id = That.parent().attr('data-id');
            if (status == 1) {
                That.removeClass('layui-btn-normal').addClass('layui-btn-warm').html('隐藏').attr('data-status', 2);
            } else if (status == 2) {
                That.removeClass('layui-btn-warm').addClass('layui-btn-normal').html('显示').attr('data-status', 1);

            }
        })
        //栏目展示隐藏
        $('.showSubBtn').on('click', function () {
            var _this = $(this);
            var id = _this.attr('data-id');
            var parent = _this.parents('.parent');
            var child = $('.child-node-' + id);
            var childAll = $('tr[parentid=' + id + ']');
            if (parent.hasClass('collapsed')) {
                _this.html('-');
                parent.addClass('expanded').removeClass('collapsed');
                child.css('display', '');
            } else {
                _this.html('+');
                parent.addClass('collapsed').removeClass('expanded');
                child.css('display', 'none');
                childAll.addClass('collapsed').removeClass('expanded').css('display', 'none');
                childAll.find('.showSubBtn').html('+');
            }

        })
    });
</script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    $().ready(function () {
        $.ajax({
            url: "/Contraband/GetStorage",
            type: "Post",
            dataType: "Json",
            success: function (res) {
                var tb = "";
                $(res.Storagelist).each(function () {
                    tb += "<tr>"
                        + "<td><input type='checkbox' name='' lay-skin='primary' lay-filter='allChoose'></td>"
                        + "<td class='hidden-xs'>" + this.StorageId + "</td>"
                        + "<td class='hidden-xs'>" + this.CargoId + "</td>"
                        + "<td class='hidden-xs'>" + this.WareHouseId + "</td>"
                        + "<td class='hidden-xs'>" + this.StaffId + "</td>"
                        + "<td class='hidden-xs'>" + this.InStorageTime + "</td>"
                        + "<td class='hidden-xs'>" + this.InStorageNumber + "</td>"
                        + "<td class='hidden-xs'>" + this.OutStorageTime + "</td>"
                        + "<td class='hidden-xs'>" + this.OutStorageNumber + "</td>"
                        + "<td class='hidden-xs'>" + this.Remark + "</td>"
                        + "<td class='hidden-xs'><div class='layui-inline'><button class='layui-btn layui-btn-mini layui-btn-normal  edit-btn' data-id='1' data-url='menu-add.html' onclick='Xg(" + this.StorageId + ")'><i class='layui-icon'>&#xe642;</i></button><button class='layui-btn layui-btn-mini layui-btn-danger del-btn' data-id='1'  onclick='Sc(" + this.StorageId + ")'><i class='layui-icon'>&#xe640;</i></button></div></td>"
                        + "</tr>"
                });
                $("#tb").append(tb);
            }

        })
    })

    //删除
    function Sc(did) {
        $.ajax({
            url: "/Contraband/DeleteStorage",
            type: "Post",
            dataType: "Json",
            data: {
                id: did
            },
            success: function (res) {
                $(res).each(function () {
                    alert(this.Message);
                })
            }
        })
    }


    function Xg(StorageId) {
        location.href = "/Contraband/UpdateStorageSt/" + StorageId;
    }


</script>
