@{
    ViewBag.Title = "Freight";
}
<head>
    <meta charset="utf-8">
    <title>雨燕速递(YUY)</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
    <div style="float:left;margin-left:-200px;height:222px;width:281px;margin-top:30px;">
        <img src="~/img/运费查询.png" />
    </div>

    <div style="margin-left:130px;float:left;margin-top:-220px;">


        <div style="width:1000px;height:500px; border:1px solid  #808080;line-height:40px;">
            <div style="margin-top:20px;margin-left:40px;">
                <h3 style="color:#FF5511">运费时效查询</h3>
            </div>

            <div style="margin-top:20px;margin-left:80px;">
                <div class="layui-form-item">
                    <div>
                        <span>原寄地：</span>
                    </div>
                    <div class="layui-input-inline">
                        <select id="quiz1" onchange="Q1()">
                            <option value="0">请选择省</option>
                        </select>
                        <input id="Hidpro1" type="hidden" />

                    </div>
                    <div class="layui-input-inline">
                        <select id="quiz2" onchange="F1()">
                            <option value="0" name="">请选择市</option>
                        </select>
                    </div>
                    <input id="Hid1" type="hidden" />

                </div>
                <div class="layui-form-item">
                    <div>
                        <span>目的地：</span>
                    </div>
                    <div class="layui-input-inline">
                        <select id="quiz3" onchange="Q2()">
                            <option value="0">请选择省</option>
                        </select>
                        <input id="Hidpro2" type="hidden" />
                    </div>
                    <div class="layui-input-inline">
                        <select id="quiz4" onchange="F2()">
                            <option value="0">请选择市</option>
                        </select>
                    </div>
                    <input id="Hid2" type="hidden" />
                </div>
            </div>

            <div style="margin-top:20px;margin-left:80px;">
                <div>
                    <div class="layui-input-inline">
                        <span>寄出时间：</span>
                        <input type="text" class="layui-input" id="test30" placeholder="yyyy-MM-dd">
                    </div>
                </div>
                <div>
                    <span>物品重量：</span>
                    <input id="cweight" type="text" name="username" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input" onchange="FreightShow()">
                </div>

                <div style="        margin-top: 20px;
        float: right;
        margin-right: 40px;">
                    <button class='layui-btn layui-btn-danger' style="float:right" type='button' onclick="ToShipping()">前往寄件>></button>

                    <a class="layui-btn layui-btn-primary" href="javascript:history.back(-1)">返回上层>></a>

                </div>

            </div>

        </div>
        <div style="width:500px;height:200px;line-height:40px;margin-top:30px;margin-left:250px;" id="divshow">

        </div>
    </div>



</body>
<script src="~/layui/layui.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>

<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;

        //常规用法
        laydate.render({
            elem: '#test1'
        });

        //国际版
        laydate.render({
            elem: '#test1-1'
            , lang: 'en'
        });

        //年选择器
        laydate.render({
            elem: '#test2'
            , type: 'year'
        });

        //年月选择器
        laydate.render({
            elem: '#test3'
            , type: 'month'
        });

        //时间选择器
        laydate.render({
            elem: '#test4'
            , type: 'time'
        });

        //日期时间选择器
        laydate.render({
            elem: '#test5'
            , type: 'datetime'
        });

        //日期范围
        laydate.render({
            elem: '#test6'
            , range: true
        });

        //年范围
        laydate.render({
            elem: '#test7'
            , type: 'year'
            , range: true
        });

        //年月范围
        laydate.render({
            elem: '#test8'
            , type: 'month'
            , range: true
        });

        //时间范围
        laydate.render({
            elem: '#test9'
            , type: 'time'
            , range: true
        });

        //日期时间范围
        laydate.render({
            elem: '#test10'
            , type: 'datetime'
            , range: true
        });

        //自定义格式
        laydate.render({
            elem: '#test11'
            , format: 'yyyy年MM月dd日'
        });
        laydate.render({
            elem: '#test12'
            , format: 'dd/MM/yyyy'
        });
        laydate.render({
            elem: '#test13'
            , format: 'yyyyMMdd'
        });
        laydate.render({
            elem: '#test14'
            , type: 'time'
            , format: 'H点m分'
        });
        laydate.render({
            elem: '#test15'
            , type: 'month'
            , range: '~'
            , format: 'yyyy-MM'
        });
        laydate.render({
            elem: '#test16'
            , type: 'datetime'
            , range: '到'
            , format: 'yyyy年M月d日H时m分s秒'
        });

        //开启公历节日
        laydate.render({
            elem: '#test17'
            , calendar: true
        });

        //自定义重要日
        laydate.render({
            elem: '#test18'
            , mark: {
                '0-10-14': '生日'
                , '0-12-31': '跨年' //每年的日期
                , '0-0-10': '工资' //每月某天
                , '0-0-15': '月中'
                , '2017-8-15': '' //如果为空字符，则默认显示数字+徽章
                , '2099-10-14': '呵呵'
            }
            , done: function (value, date) {
                if (date.year === 2017 && date.month === 8 && date.date === 15) { //点击2017年8月15日，弹出提示语
                    layer.msg('这一天是：中国人民抗日战争胜利72周年');
                }
            }
        });

        //限定可选日期
        var ins22 = laydate.render({
            elem: '#test-limit1'
            , min: '2016-10-14'
            , max: '2080-10-14'
            , ready: function () {
                ins22.hint('日期可选值设定在 <br> 2016-10-14 到 2080-10-14');
            }
        });

        //前后若干天可选，这里以7天为例
        laydate.render({
            elem: '#test-limit2'
            , min: -7
            , max: 7
        });

        //限定可选时间
        laydate.render({
            elem: '#test-limit3'
            , type: 'time'
            , min: '09:30:00'
            , max: '17:30:00'
            , btns: ['clear', 'confirm']
        });

        //同时绑定多个
        lay('.test-item').each(function () {
            laydate.render({
                elem: this
                , trigger: 'click'
            });
        });

        //初始赋值
        laydate.render({
            elem: '#test19'
            , value: '1989-10-14'
            , isInitValue: true
        });

        //选中后的回调
        laydate.render({
            elem: '#test20'
            , done: function (value, date) {
                layer.alert('你选择的日期是：' + value + '<br>获得的对象是' + JSON.stringify(date));
            }
        });

        //日期切换的回调
        laydate.render({
            elem: '#test21'
            , change: function (value, date) {
                layer.msg('你选择的日期是：' + value + '<br><br>获得的对象是' + JSON.stringify(date));
            }
        });
        //不出现底部栏
        laydate.render({
            elem: '#test22'
            , showBottom: false
        });

        //只出现确定按钮
        laydate.render({
            elem: '#test23'
            , btns: ['confirm']
        });

        //自定义事件
        laydate.render({
            elem: '#test24'
            , trigger: 'mousedown'
        });

        //点我触发
        laydate.render({
            elem: '#test25'
            , eventElem: '#test25-1'
            , trigger: 'click'
        });

        //双击我触发
        lay('#test26-1').on('dblclick', function () {
            laydate.render({
                elem: '#test26'
                , show: true
                , closeStop: '#test26-1'
            });
        });

        //日期只读
        laydate.render({
            elem: '#test27'
            , trigger: 'click'
        });

        //非input元素
        laydate.render({
            elem: '#test28'
        });

        //墨绿主题
        laydate.render({
            elem: '#test29'
            , theme: 'molv'
        });

        //自定义颜色
        laydate.render({
            elem: '#test30'
            , theme: '#393D49'
        });

        //格子主题
        laydate.render({
            elem: '#test31'
            , theme: 'grid'
        });


        //直接嵌套显示
        laydate.render({
            elem: '#test-n1'
            , position: 'static'
        });
        laydate.render({
            elem: '#test-n2'
            , position: 'static'
            , lang: 'en'
        });
        laydate.render({
            elem: '#test-n3'
            , type: 'month'
            , position: 'static'
        });
        laydate.render({
            elem: '#test-n4'
            , type: 'time'
            , position: 'static'
        });
    });

    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

        //监听指定开关
        form.on('switch(switchTest)', function (data) {
            layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //监听提交
        form.on('submit(demo1)', function (data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            })
            return false;
        });

        //表单赋值
        layui.$('#LAY-component-form-setval').on('click', function () {
            form.val('example', {
                "username": "贤心" // "name": "value"
                , "password": "123456"
                , "interest": 1
                , "like[write]": true //复选框选中状态
                , "close": true //开关状态
                , "sex": "女"
                , "desc": "我爱 layui"
            });
        });

        //表单取值
        layui.$('#LAY-component-form-getval').on('click', function () {
            var data = form.val('example');
            alert(JSON.stringify(data));
        });

    });

    $().ready(function () {
        //获取原寄地的省份
        $.ajax({
            url: "/Area/Province",
            type: "POST",
            dataType: "json",
            success: function (res) {
                var ops = "";
                $(res.arealist).each(function () {
                    var op = "<option value='" + this.SId + "' name='" + this.SName + "'>" + this.SName + "</option>";
                    ops += op;
                })
                $("#quiz1").append(ops);
                $("#Hidpro1").val($("[name='SName']").val());
            }
        })
        //获取目的地的省份
        $.ajax({
            url: "/Area/Province",
            type: "POST",
            dataType: "json",
            success: function (res) {
                var ops = "";
                $(res.arealist).each(function () {
                    var op = "<option value='" + this.SId + "' name='" + this.SName + "'>" + this.SName + "</option>";
                    ops += op;
                })
                $("#quiz3").append(ops);
                $("#Hidpro2").val($("[name='SName']").val());
            }
        })
    })

    //获取原寄地的市区
    function Q1() {
        var id = $("#quiz1").val();
        $.ajax({
            url: "/Area/City",
            type: "POST",
            dataType: "json",
            data:
            {
                PId: id
            },
            success: function (res) {
                var ops = "";
                $(res.Alist).each(function () {
                    var op = "<option value='" + this.SId + "'>" + this.SName + "</option>";
                    ops += op;
                })
                $("#quiz2").append(ops);
            }
        })
        var Pro1 = $("#quiz1").find("option:selected").text()
        $("#Hidpro1").val(Pro1);
    }

    //获取目的地的市区
    function Q2() {
        var id = $("#quiz3").val();
        $.ajax({
            url: "/Area/City",
            type: "POST",
            dataType: "json",
            data:
            {
                PId: id
            },
            success: function (res) {
                var ops = "";
                $(res.Alist).each(function () {
                    var op = "<option value='" + this.SId + "' name='" + this.SName + "'>" + this.SName + "</option>";
                    ops += op;
                })
                $("#quiz4").append(ops);
            }
        })
        var Pro2 = $("#quiz3").find("option:selected").text()
        $("#Hidpro2").val(Pro2);
    }

    //获取原寄地did
    function F1() {
        var f1 = $("#quiz2").val();
        $.ajax({
            url: "/Area/CityDid",
            type: "POST",
            dataType: "json",
            data:
            {
                did: f1
            },
            success: function (res) {
                if (res.Status) {
                    $("#Hid1").val(res.fid);
                } else {
                    alert(res.Message);
                    F1();
                }
            }
        })
    }

    //获取目的地did
    function F2() {
        var f2 = $("#quiz4").val();
        $.ajax({
            url: "/Area/CityDid",
            type: "POST",
            dataType: "json",
            data:
            {
                did: f2
            },
            success: function (res) {
                if (res.Status) {
                    $("#Hid2").val(res.fid);
                } else {
                    alert(res.Message);
                    F2();
                }
            }
        })
    }
    //运费及到达时间的计算
    function Fre() {

    }
    //日期加减
    function AddDate(date, addDays) { //date传入你需要的日期，格式"xxxx-xx-xx"。addDays传要加减的日期数，往前传正数，往后传负数
        var Dates = new Date(date);
        Dates.setDate(Dates.getDate() + addDays);
        var mon = Dates.getMonth() + 1,
            day = Dates.getDate();
        if (mon < 10) {
            mon = "0" + mon;//月份小于10，在前面补充0
        }
        if (day < 10) {
            day = "0" + day;//日小于10，在前面补充0
        }
        return Dates.getFullYear() + "-" + mon + "-" + day;
    }
    //费用的显示
    function FreightShow() {
        var f1 = $("#Hid1").val();
        var f2 = $("#Hid2").val();
        var weight = $("#cweight").val();  //快递重量
        var senddate = $("#test30").val();
        var sday = "";
        var tb = "";

        var dvalue = 0;//dvalue 差值
        var sfare = 0;  //fare 运费
        if ((f1 - f2) > 0) {   //原寄地为附近区域
            dvalue = f1 - f2;//获取差值
            if (dvalue == 1) {//江浙沪费用
                if (weight == 1) {//获取首重8
                    sfare = 1 * 8;
                }
                if (weight > 1) {
                    sfare = (weight - 1) * 1.5 + 8;//续重1.5
                }
                sday = AddDate(senddate, 1);

                tb = "<table class='table' style='color:white; background-color:#FF8800'><tr>"
                    + "<td>预计到达时间</td>"
                    + "<td>预计费用</td>"
                    + " </tr><tr>"
                    + "<td>" + sday + "</td>"
                    + "<td>" + sfare + "</td>"
                    + "</tr></table>";

                $("#divshow").html(tb);
            }
            if (dvalue == 2 || dvalue == 3) { //其他城市
                if (weight == 1) {//获取首重8
                    sfare = 1 * 15;
                }
                if (weight > 1) {
                    sfare = (weight - 1) * 12 * dvalue + 15;//续重12
                }
                sday = AddDate(senddate, dvalue + 1);
                tb = "<table class='table'style='color:white; background-color:#FF8800'><tr>"
                    + "<td>预计到达时间</td>"
                    + "<td>预计费用</td>"
                    + " </tr><tr>"
                    + "<td>" + sday + "</td>"
                    + "<td>" + sfare + "</td>"
                    + "</tr></table>";

                $("#divshow").html(tb);
            }

        }
        else if ((f2 - f1) > 0) {   //原寄地为远地区
            dvalue = f2 - f1;
            if (dvalue == 1) {//江浙沪费用
                if (weight == 1) {//获取首重8
                    sfare = 1 * 8;

                }
                if (weight > 1) {
                    sfare = (weight - 1) * 1.5 + 8;//续重1.5
                }

                sday = AddDate(senddate, 1);

                tb = "<table class='table'style='color:white; background-color:#FF8800'><tr>"
                    + "<td>预计到达时间</td>"
                    + "<td>预计费用</td>"
                    + " </tr><tr>"
                    + "<td>" + sday + "</td>"
                    + "<td>" + sfare + "</td>"
                    + "</tr></table>";

                $("#divshow").html(tb);
            }
            if (dvalue == 2 || dvalue == 3) { //其他城市
                if (weight == 1) {//获取首重8
                    sfare = 1 * 15;
                }
                if (weight > 1) {
                    sfare = (weight - 1) * 12 * dvalue + 15;//续重12
                }
                sendday = AddDate(senddate, dvalue + 1);
                tb = "<table class='table'style='color:white; background-color:#FF8800'><tr>"
                    + "<td>预计到达时间</td>"
                    + "<td>预计费用</td>"
                    + " </tr><tr>"
                    + "<td>" + sday + "</td>"
                    + "<td>" + sfare + "</td>"
                    + "</tr></table>";

                $("#divshow").html(tb);
            }
        }
        else if ((f2 - f1) == 0) {
            sfare = 8;
            sday = senddate;

            tb = "<table class='table'style='color:white; background-color:#FF8800'><tr>"
                + "<td>预计到达时间</td>"
                + "<td>预计费用</td>"
                + " </tr><tr>"
                + "<td>" + sday + "</td>"
                + "<td>" + sfare + "</td>"
                + "</tr></table>";

            $("#divshow").html(tb);
        }


    }


    function ToShipping() {
        debugger;
        var city1 = $("#quiz2").find("option:selected").text()

        var city2 = $("#quiz4").find("option:selected").text()

        var Originalplace = $("#Hidpro1").val() + city1;//原寄地
        var Destination = $("#Hidpro2").val() + city2;//目的地
        sessionStorage["Ori"] = Originalplace;
        sessionStorage["Des"] = Destination;
        //ApplicationCache["Ori"] = Originalplace;
        //ApplicationCache["Des"] = Destination;
        location.href = "/Shipp/ADDShippingInfor1";
    }
</script>
