
@{
    ViewBag.Title = "ADDShippingInfor";
}
<div class="m-login">
    <h3>寄件添加</h3>
    <div class="m-login-warp">
        <div class="layui-form">
            <div class="layui-form-item">
                <input id="phone1" type="text" name="title" required lay-verify="required" placeholder="用户手机号" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-item">
                <input id="pwd1" type="text" name="password" required lay-verify="required" placeholder="密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-item">
                <input id="you" type="text" name="password" required lay-verify="required" placeholder="邮箱" autocomplete="off" class="layui-input">

            </div>
            <div class="layui-form-item m-login-btn">
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-normal" onclick="Regist()">注册</button>
                </div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-primary">取消</button>
                </div>
            </div>
        </div>
    </div>
    <p class="copyright">Copyright 2019-2020 by XIAODU</p>
</div>


<script>
    //注册
    function Regist() {
        var phone = $("#phone1").val();
        var pwd = $("#pwd1").val();
        var you = $("#you").val();
        $.ajax({
            url: "/User/UserRegist",
            type: "Post",
            data: {
                Phone: phone,
                Pwd: pwd,
                UserMailbox: you,
            },
            success: function (res) {
                //表示接口成功
                if (res.Status) {
                    //请求成功
                    if (res.IsRegistSuccess) {
                        alert(res.Message);
                        location.href = "/User/UserLogin";
                    }
                    else {
                        alert(res.Message);
                    }
                }
                else {
                    alert(res.Message);
                }
            }

        })
    }
</script>