
@{
    ViewBag.Title = "ADDShippingInfor1";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>雨燕速递（YUY）</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/layui/css/layui.css" rel="stylesheet" />

    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>

<body>
    <form class="layui-form layui-form-pane" action="" style="width:800px;">

        <div class="layui-form-item">
            <label class="layui-form-label">快递单号</label>
            <div class="layui-input-inline">

                <input id="danh" name="username" disabled="disabled" class="layui-input" type="text" placeholder="请输入快递单号" autocomplete="off" lay-verify="required">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">寄件人姓名</label>
                <div class="layui-input-inline">
                    <input id="jiname" name="username" class="layui-input" type="text" placeholder="请输入寄件人姓名" autocomplete="off" lay-verify="required">

                </div>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">寄件联系方式</label>
                <div class="layui-input-inline">
                    <input id="jilian" name="username" class="layui-input" type="text" placeholder="寄件联系方式" autocomplete="off" lay-verify="required">
                </div>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">寄件地址</label>
                <div class="layui-input-inline">
                    <input id="jidiz" name="username" class="layui-input" type="text" placeholder="请输入寄件地址" autocomplete="off" lay-verify="required">
                </div>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">收件人姓名</label>
                <div class="layui-input-inline">
                    <input id="shouname" name="username" class="layui-input" type="text" placeholder="请输入收件人姓名" autocomplete="off" lay-verify="required">
                </div>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">收件联系方式</label>
                <div class="layui-input-inline">
                    <input id="shouphone" name="username" class="layui-input" type="text" placeholder="请输入收件联系方式" autocomplete="off" lay-verify="required">
                </div>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">收件地址</label>
                <div class="layui-input-inline">
                    <input id="shoujian" name="username" class="layui-input" type="text" placeholder="请输入收件地址" autocomplete="off" lay-verify="required">
                </div>
            </div>

        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-inline">
                    <input id="jibeiz" name="username" class="layui-input" type="text" placeholder="" autocomplete="off" lay-verify="required">
                </div>
            </div>

        </div>
        <div class="layui-form-item">
            <button class="layui-btn layui-btn-danger layui-btn-radius" type="button" lay-filter="demo1" onclick="Regist1()">立即提交</button>
            <a class="layui-btn layui-btn-primary layui-btn-radius" href="javascript:history.back(-1)">取消</a>
        </div>
    </form>
    <script src="~/layui/layui.js"></script>
    <script src="~/Scripts/Scripts/My97DatePicker/My97DatePicker/WdatePicker.js"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;


            //创建一个编辑器
            var editIndex = layedit.build('LAY_demo_editor');

            //自定义验证规则
            form.verify({
                title: function (value) {
                    if (value.length < 5) {
                        return '标题至少得5个字符啊';
                    }
                }
                , pass: [
                    /^[\S]{6,12}$/
                    , '密码必须6到12位，且不能出现空格'
                ]
                , content: function (value) {
                    layedit.sync(editIndex);
                }
            });

            //监听指定开关
            form.on('switch(switchTest)', function (data) {
                layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                    offset: '6px'
                });
                layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
            });

            //监听提交
            form.on('submit(demo1)', function (data) {
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                })
                return false;
            });

            //表单赋值
            layui.$('#LAY-component-form-setval').on('click', function () {
                form.val('example', {
                    "username": "贤心" // "name": "value"
                    , "password": "123456"
                    , "interest": 1
                    , "like[write]": true //复选框选中状态
                    , "close": true //开关状态
                    , "sex": "女"
                    , "desc": "我爱 layui"
                });
            });

            //表单取值
            layui.$('#LAY-component-form-getval').on('click', function () {
                var data = form.val('example');
                alert(JSON.stringify(data));
            });

        });
    </script>
</body>
</html>
<script src="~/Scripts/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $.post("/User/VIPKaHao", function (data) {
        $("#danh").val(data);
    })
    //寄件
    function Regist1() {

        var danh = $("#danh").val();
        var jiname = $("#jiname").val();
        var jilian = $("#jilian").val();
        var jidiz = $("#jidiz").val();
        var shouname = $("#shouname").val();
        var shouphone = $("#shouphone").val();
        var shoujian = $("#shoujian").val();
        var jibeiz = $("#jibeiz").val();

        $.ajax({
            url: "/Shipp/ADDShippingInfor1",
            type: "Post",
            dataType: "json",
            data: {
                ShippingOrder1: danh,
                ShippingName1: jiname,
                ShippingPhone1: jilian,
                ShippingAddress1: jidiz,
                ReceiveName1: shouname,
                ReceivePhone1: shouphone,
                ReceiveAddress1: shoujian,
                ShippingRemark1: jibeiz,

            },
            success: function (res) {
                //表示接口成功
                if (res.Status) {
                    //请求成功
                    if (res.IsRegistSuccess) {
                        alert(res.Message);
                        location.href = "/Shipp/ADDShippingInfor1";
                    }
                    else {
                        alert(res.Message);
                    }
                }
                else {
                    alert(res.Message);
                }
            }

        })
    }
</script>

