
@{
    ViewBag.Title = "ADDShippingInfor";
}
<div class="m-login">
    <h3>寄件添加</h3>
    <div class="m-login-warp">
        <div class="layui-form">
            <div class="layui-form-item">
                <input id="ShippingName" type="text" name="title" required lay-verify="required" placeholder="寄件姓名" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-item">
                <input id="ShippingPhone " type="text" name="title" required lay-verify="required" placeholder="寄件联系方式" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-item">
                <input id="ShippingAddress                 " type="text" name="title" required lay-verify="required" placeholder="寄件地址" autocomplete="off" class="layui-input">

            </div>
            <div class="layui-form-item">
                <input id="ReceiveName                 " type="text" name="title" required lay-verify="required" placeholder="收件人姓名" autocomplete="off" class="layui-input">

            </div>
            <div class="layui-form-item">
                <input id="ReceivePhone                 " type="text" name="title" required lay-verify="required" placeholder="收件联系方式" autocomplete="off" class="layui-input">

            </div>
            <div class="layui-form-item">
                <input id="ReceiveAddress                  " type="text" name="title" required lay-verify="required" placeholder="收件地址" autocomplete="off" class="layui-input">

            </div>
            <div class="layui-form-item m-login-btn">
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-normal" onclick="Regist()">提交</button>
                </div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-primary">取消</button>
                </div>
            </div>
        </div>
    </div>
    <p class="copyright">Copyright 2019-2020 by XIAODU</p>
</div>


<script>
    //注册
    function Regist() {
        var  ShippingName= $("     ShippingName  "          ).val();
        var  ShippingPhone   =    $(" ShippingPhone "              ).val();
        var  ShippingAddress   =    $("    ShippingAddress     "              ).val();
        var  ReceiveName  = $(" ReceiveName                   "         ).val();
        var  ReceivePhone   =    $(" ReceivePhone               "         ).val();
        var ReceiveAddress = $(" ReceiveAddress          ").val();
        var ShippingOrder = new Date();
        ShippingOrder.getSeconds;
        $.ajax({
            url: "/Shipp/ADDShippingInfor",
            type: "Post",
            data: {
                Phone: phone,
                Pwd: pwd,
                UserMailbox: you,
            },
            success: function (res) {
                //表示接口成功
                if (res.Status) {
                    //请求成功
                    if (res.IsRegistSuccess) {
                        alert(res.Message);
                    
                    }
                    else {
                        alert(res.Message);
                    }
                }
                else {
                    alert(res.Message);
                }
            }

        })
    }
</script>